{% extends 'base.html.twig' %}

{% block title 'Choix du vol | SBX Chancellerie Aéroport' %}

{% block body %}

<h1 class='h2 my-5 text-center font-weight-bold'>Formulaire des droits de chancelerie</h1>
<h2 class='h3 mt-5 text-center font-weight-bold text-success'>Plusieurs vols trouvés</h2>
<p class='h6 mt-3 text-center font-weight-bold text-secondary'>Cliquez sur le vol correspondant</p>

<div class='col-md-6 mx-auto'>
        <div class="mt-2 border-top border-dark">
            <p class="h4 mb-4">Vol n° <span class="font-weight-bold text-info">{{ app.session.get('idFlight') }}</span></p>


                    {% for i in 1..apis|length %}
                        <div class="row">
                        <a href="{{ path('app_pdf_formSeveralFlightFound', {dateTimeDepartureFlight: apis[0][i-1], destinationFlight: apis[1][i-1], token: csrf_token('flightFound')} ) }}" class="text-decoration-none  mt-5 btn-lg btn btn-outline-primary btn-block">
                            <p class="mt-3">Le <span class="font-weight-bold">{{ apis[0][i-1] }}</span>
                            à destination de <span class="font-weight-bold">{{ apis[1][i-1] }}</span></p>
                        </a>
                        </div>
                    {% endfor %}
        </div>
</div>


{% endblock %}